html, body {
    margin: 0;
    padding: 0;
}

.app {
    background: url('/bg.png') center center / cover no-repeat, #393838 no-repeat center center fixed;
    background-image: url("/bg.png");
    background-attachment: fixed;
    image-rendering: auto;
    image-rendering: smooth;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 100vh;
    position: relative;
}

.main-content {
    padding: 16px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}